/* src/TimeOffRequest.css */
.time-off-request-container {
  display: flex;
}

.content {
  flex: 1;
  padding: 25px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.sidebar-open .content {
  margin-left: 250px; /* Adjust this based on your sidebar width */
}

.sidebar-toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #333;
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000; /* Make sure the button is above other elements */
}

.time-off-request-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
  font-family: 'Arial', sans-serif;
}

.message {
  text-align: center;
  margin-bottom: 15px;
  color: #28a745;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.request-section {
  margin-bottom: 30px; /* Space between sections */
}

.request-item {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.request-item.accepted,
.request-item.declined {
  transform: translateY(-20px);
  opacity: 0;
}

.accept-btn,
.decline-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
}

.accept-btn {
  background-color: #28a745;
  color: white;
  margin-right: 5px;
  transition: background-color 0.3s ease-in-out;
}

.accept-btn:hover {
  background-color: #218838;
}

.decline-btn {
  background-color: #dc3545;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.decline-btn:hover {
  background-color: #c82333;
}

.status {
  display: flex;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.status.accepted {
  color: #28a745;
}

.status.declined {
  color: #dc3545;
}

.status .fa {
  margin-right: 5px;
}
