/* Common styles */
.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  padding: 20px;
  text-align: center; /* Center align text */
}

.settings-page h1,
.settings-page h2 {
  margin-bottom: 20px;
}

.settings-page section {
  margin-bottom: 30px;
}

/* Light theme styles */
body.light {
  background-color: white;
  color: black;
}

body.light .sidebar {
  background-color: white;
  color: black;
}

body.light .sidebar-list-item a {
  color: black;
}

body.light .header {
  background-color: white;
  color: black;
}

/* Dark theme styles */
body.dark {
  background-color: #333;
  color: white;
}

body.dark .sidebar {
  background-color: #333;
  color: white;
}

body.dark .sidebar-list-item a {
  color: white;
}

body.dark .header {
  background-color: #333;
  color: white;
}

body.dark input,
body.dark select,
body.dark button {
  background-color: #555;
  color: white;
  border: 1px solid #777;
}

body.dark input::placeholder {
  color: #ccc;
}

body.dark button {
  border: none;
}

body.dark button:hover {
  background-color: #444;
}
